{% extends 'Partials/base.twig' %}

{% block content %}
    <div class="matches container" style="margin-top: 20px;">
        {% include('Partials/head.twig') %}

        <form method="post">
            <div class="search-container center" style="width: 70%;">
                <input type="text" name="search-bar" placeholder="Search Match ID, Player Name or SteamID64" class="search-input">
                <button class="btn btn-light search-btn" type="submit" name="Submit"> <i class="fa fa-search"></i></button>
            </div>
        </form>

        {% if matches|length > 1 %}
            {% for match in matches %}
                {% include 'Partials/match-bar.twig' with match %}
            {% endfor %}
        {% else %}
            <h1 style="margin-top:20px;text-align:center;">
                No Results!
            </h1>
        {% endif %}

        {% if totalPages > 1 %}
            <nav style="margin-top:30px;width:80%;" class="center">
                <ul class="pagination">
                    {% if currentPage == 1 %}
                        <li class="page-item disabled">
                            <span class="page-link">
                                Previous
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/matches/{{ currentPage - 1 }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}

                    {% for i in max(1, currentPage - 2)..min(currentPage + 4, totalPages) %}
                    {#for ($i = max(1, $page_number - 2); $i <= min($page_number + 4, $total_pages); $i++) {#}
                        {% if i == currentPage %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">
                                        (current)
                                    </span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/matches/{{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if currentPage == totalPages %}
                        <li class="page-item disabled">
                            <span class="page-link">
                                Next
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/matches/{{ currentPage + 1 }}">
                                Next
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}