{% extends 'partials/base.twig' %}

{% block content %}
    <div style="margin-top:45px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://steamcommunity.com/profiles/{{ player.steam }}" id="{{ player.steam }}" class="card rounded-borders steam-profile" style="border: none !important;">
                        <div class="card-body">
                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p style="text-align: center">
                                        <img alt="" class="rounded-circle img-fluid steam-profile-avatarFull" src="/img/icons/loading.gif" style="width:100px;">
                                    </p>
                                    <h1 class="steam-profile-name" style="text-align: center">
                                        Loading...
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 45px">
            <div class="row">
                <div class="col-md-12">
                    <div class="card rounded-borders" style="border: none !important;">
                        <div class="card-body">
                            <div class="row" style="text-align: center; margin-top:15px;">
                                <div class="col-md-12">
                                    <h1>
                                        Statistics
                                    </h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4 text-left col-centered">
                                    <div class="row profile-stats">
                                        <div class="col-9 text-right nopadding-right">
                                            <h4>Kills</h4>
                                            <h1>{{player.kills}}</h1>
                                        </div>
                                        <div class="col-3 nopadding-right">
                                            <i class="fas fa-crosshairs"></i>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-9 text-right nopadding-right">
                                            <h4>Assists</h4>
                                            <h1>{{player.assists}}</h1>
                                        </div>
                                        <div class="col-3 nopadding-right">
                                            <i class="far fa-handshake"></i>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-9 text-right nopadding-right">
                                            <h4>Deaths</h4>
                                            <h1>{{player.deaths}}</h1>
                                        </div>
                                        <div class="col-3 nopadding-right">
                                            <i class="fas fa-skull"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-center col-centered">
                                    <div class="row profile-stats">
                                        <div class="col-12">
                                            <h4>Elo</h4>
                                            <h1>{{player.score}}</h1>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-12">
                                            <h4>K/D Ratio</h4>
                                            <h1>{{ player.kdr|number_format(2, '.', ',') }}</h1>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-12">
                                            <h4>Played Matches</h4>
                                            <h1><span class="text-success">{{player.match_win}}</span> | <span class="text-warning">{{player.match_draw}}</span> | <span class="text-danger">{{player.match_lose}}</span></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right col-centered">
                                    <div class="row profile-stats">
                                        <div class="col-3 nopadding-left">
                                            <i class="fas fa-bullseye"></i>
                                        </div>
                                        <div class="col-9 text-left nopadding-left">
                                            <h4>ADR</h4>
                                            <h1>{{ player.adr|number_format(2, '.', ',') }}</h1>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-3 nopadding-left">
                                            <i class="fas fa-user-slash"></i>
                                        </div>
                                        <div class="col-9 text-left nopadding-left">
                                            <h4>Headshots</h4>
                                            <h1>{{ player.headshots }}</h1>
                                        </div>
                                    </div>
                                    <div class="row profile-stats">
                                        <div class="col-3 nopadding-left">
                                            <i class="fas fa-history"></i>
                                        </div>
                                        <div class="col-9 text-left nopadding-left">
                                            <h4>Time Played</h4>
                                            <h1 class="seconds-to-readable">{{player.connected}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#<div class="social-icons-profile" style="margin-top:15px;">#}
                                {#<a href="https://steamcommunity.com/profiles/{{ player.steam }}" style="margin-left:10px;color:#171A21;"><i class="fab fa-steam"></i></a>#}
                                {#<a href="#" style="margin-left:10px;color:#6441a4;"><i class="fab fa-twitch"></i></a>#}
                                {#<a href="#" style="margin-left:10px;color:#ff0000;"><i class="fab fa-youtube"></i></a>#}
                                {#<a href="#" style="color:#1da1f2;"><i class="fab fa-twitter"></i></a>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>

            {% if matches %}
            <div class="card rounded-borders" style="border:none;margin:45px 0;">
                <div class="card-body" style="padding-top:20px;">
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <a href="/matches">
                                <h1>
                                    Recent matches
                                </h1>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        {% for match in matches %}
                            <div class="col-md-4" style="margin-top:15px;">
                                {% include 'partials/match/profile-matches.twig' with match %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}