{% extends 'partials/base.twig' %}

{% block content %}
    <div style="margin-top:45px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a id="{{ player.steamid64 }}" href="https://steamcommunity.com/profiles/{{ player.steamid64 }}" class="card rounded-borders steam-profile" style="border: none !important;">
                        <div class="card-body">
                            <div style="clear: both;">

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="text-align: center">
                                        <img class="rounded-circle img-fluid steam-profile-avatarFull" src="/img/icons/loading.gif" style="width:100px;">
                                    </p>
                                    <h1 class="steam-profile-name" style="text-align: center">
                                        Loading...
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 45px">
            <div class="row">
                <div class="col-md-12">
                    <div class="card rounded-borders" style="border: none !important;">
                        <div class="card-body">
                            <div class="row" style="text-align: center; margin-top:15px;">
                                <div class="col-md-12">
                                    <h1>
                                        Statistics
                                    </h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4><i class="fas fa-crosshairs"></i>&nbsp;Kills: {{ player.kills }}</h4>
                                    <h4><i class="fas fa-skull"></i>&nbsp;Deaths:&nbsp;<strong>{{ player.deaths }}</strong><br></h4>
                                    <h4><i class="fas fa-dot-circle"></i> KDR: {{ player.kdr|number_format(2, '.', ',') }}<br></h4>
                                </div>
                                <div class="col-md-4">
                                    <h4><i class="far fa-handshake" style="font-size:16px;"></i>&nbsp;Assists: {{ player.assists }}</h4>
                                    <h4><i class="fas fa-meh"></i>&nbsp;Shots: {{ player.shots }}</h4>
                                    <h4><i class="fas fa-chess-queen"></i>&nbsp;Damage: {{ player.damage }}</h4>
                                </div>
                                <div class="col-md-4">
                                    <h4><i class="fas fa-ruler-combined" style="font-size:18px;"></i>&nbsp;ADR: {{ player.adr|number_format(2, '.', ',') }}</h4>
                                    <h4><i class="fas fa-calculator"></i>&nbsp;Hits: {{ player.hits }}</h4>
                                    <h4><i class="fas fa-user-slash" style="font-size:16px;"></i>HS: {{ player.headshots }}</h4>
                                </div>
                            </div>
                            {#<div class="social-icons-profile" style="margin-top:15px;">#}
                                {#<a href="https://steamcommunity.com/profiles/{{ player.steamid64 }}" style="margin-left:10px;color:#171A21;"><i class="fab fa-steam"></i></a>#}
                                {#<a href="#" style="margin-left:10px;color:#6441a4;"><i class="fab fa-twitch"></i></a>#}
                                {#<a href="#" style="margin-left:10px;color:#ff0000;"><i class="fab fa-youtube"></i></a>#}
                                {#<a href="#" style="color:#1da1f2;"><i class="fab fa-twitter"></i></a>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-borders" style="border:none;margin:45px 0;">
                <div class="card-body" style="padding-top:20px;">
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <a href="/matches">
                                <h1>
                                    Recent matches
                                </h1>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% for match in matches %}
                            <div class="col-md-4" style="margin-top:15px;">
                                {% include 'partials/match/profile-matches.twig' with match %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}