<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ff0000">
    <meta name="description" content="{{ baseTitle }}'s League / PUG Statistics page. Primarily based out of the UK they're looking to meet and exceed the limits of other conventional communities.">
    <meta property="og:title" content="{{ baseTitle }} League">
    <meta property="og:type" content="image/png">
    <meta property="og:image" content="https://redlinecs.net/images/logo.png">
    <meta property="og:image:height" content="640">
    <meta property="og:image:width" content="640">
    <meta property="og:description" content="{{ baseTitle }}'s League / PUG Statistics page. Primarily based out of the UK they're looking to meet and exceed the limits of other conventional communities.">

    <link rel="apple-touch-icon" sizes="180x180" href="https://redlinecs.net/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://redlinecs.net/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://redlinecs.net/images/favicon-16x16.png">
    <link rel="manifest" href="https://redlinecs.net/site.webmanifest">

    <title>
        {{ baseTitle }}
        {% block title %}
            {% if title is defined %}
                | {{ title }}
            {% endif %}
        {% endblock %}
    </title>

    {% include 'partials/styles.twig' %}
</head>

<body>
    {% include 'partials/navbar.twig' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.twig' %}

    {% include 'partials/scripts.twig' %}
</body>
</html>